<div fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap.lt-md="0px" fxLayoutGap="8px">
  <!-- Parte esquerda do painel principal -->
  <div fxFlex="calc(20% - 8px)" fxFlex.lt-md="calc(100% - 8px)" fxFlexOrder.lt-md="2">
    <div *ngIf="logDetail; else loading" fxLayout="column" fxLayout.lt-sm="column" fxLayout.lt-md="row"
      fxLayoutAlign="space-around" fxLayoutGap="8px">
      <app-inbox-detail-options [details]="logDetail" (shoudUpdate)="shoudUpdate($event)" fxFlex fxFlex.ls-sm
        fxFlex.lt-md="calc(30% - 8px)">
      </app-inbox-detail-options>
      <app-inbox-detail-comments [logId]="logDetail.id" fxFlex fxFlex.ls-sm fxFlex.lt-md="calc(70% - 8px)">
      </app-inbox-detail-comments>
    </div>
    <ng-template #loading>
      <mat-card>
        <div style="height: 300px;" fxLayoutAlign="center center">
          <mat-spinner></mat-spinner>
        </div>
      </mat-card>
    </ng-template>
  </div>

  <!-- restante do componente -->
  <div fxFlex="calc(80% - 8px)" fxFlex.lt-md="calc(100% - 8px)" fxFlexOrder.lt-md="1" style="padding-bottom: 8px">
    <mat-card *ngIf="logDetail;else loading">
      <mat-card-header>
        <mat-card-title>
          {{logDetail?.title}}
        </mat-card-title>
        <mat-card-subtitle>
          {{logDetail?.stage}}
          Registrado {{logDetail?.log_occurences_count}}x
        </mat-card-subtitle>
        <span fxFlex="1 1 auto"></span>
        <div>
          <mat-chip-list *ngIf="logDetail">
            <mat-chip>{{logDetail.level}}</mat-chip>
            <mat-chip *ngIf="!logDetail.handled" color="warn" selected>Unhandled</mat-chip>
            <mat-chip *ngIf="logDetail.handled">Handled</mat-chip>
          </mat-chip-list>
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group>
          <mat-tab *ngFor="let detail of details | keyvalue" [label]="detail.key">
            <div *ngFor="let item of detail.value | keyvalue">
              <div [ngSwitch]="item.key">
                <div *ngSwitchCase="'code'">
                  <div style="padding: 8px">
                    <code *ngFor="let line of item.value | keyvalue" [highlight]="line.key+': '+ line.value"
                      [ngClass]="{'highlight-line': line.key == detail?.value['line']}"></code>
                  </div>
                </div>
                <div *ngSwitchCase="'headers'">
                  <pre>
                    <code [innerHTML]="item.value"></code>
                  </pre>
                </div>
                <div *ngSwitchCase="'trace'">
                  <p><b>trace:</b></p>
                  <div style="padding: 8px">
                    <mat-accordion>
                      <mat-expansion-panel *ngFor="let trace of item.value">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{trace.class + ':' + trace.function}}
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div style="padding: 8px">
                          <code *ngFor="let line of trace.code | keyvalue" [highlight]="line.key+': '+ line.value"
                            [ngClass]="{'highlight-line': line.key == trace.line}"></code>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </div>

                </div>
                <div *ngSwitchDefault fxLayoutAlign="row" fxLayoutAlign="start start" fxLayoutGap="8px">
                  <p>
                    <b>{{item.key}}:</b>
                  </p>
                  <p>
                    {{item.value}}
                  </p>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <ng-template #loading>
      <mat-card>
        <div style="height: 300px;" fxLayoutAlign="center center">
          <mat-spinner></mat-spinner>
        </div>
      </mat-card>
    </ng-template>
  </div>
</div>