<div class="example-container">

  <app-home-header style="z-index: 2;"></app-home-header>

  <mat-sidenav-container [hasBackdrop]="false" class="example-sidenav-container">

    <mat-sidenav-content>
      <div style="padding: 10px">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>