<form [formGroup]="formFilter" autocomplete="off" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="8px">

  <div fxFlex="70" fxFlex.lt-sm="100" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <mat-checkbox fxFlex.lt-md="33" [formControlName]="'seen'">Novo</mat-checkbox>
    <mat-checkbox fxFlex.lt-md="33" [formControlName]="'production'">Production</mat-checkbox>
    <mat-checkbox fxFlex.lt-md="33" [formControlName]="'handled'">Unhandled</mat-checkbox>
    <mat-checkbox fxFlex.lt-md="33" [formControlName]="'snoozed'">Silenciado</mat-checkbox>
    <mat-checkbox fxFlex.lt-md="33" [formControlName]="'is_fixed'">Corrigido</mat-checkbox>
    <mat-checkbox fxFlex.lt-md="33" [formControlName]="'for_me'">Para mim</mat-checkbox>
  </div>

  <mat-form-field fxFlex="30" fxFlex.lt-sm="100">
    <input [formControlName]="'any'" matInput placeholder="Busca">
  </mat-form-field>

</form>