<h1 mat-dialog-title>Atribuições</h1>
<p mat-dialog-subtitle>Selecione um responsável na lista</p>

<div mat-dialog-content>
  <mat-selection-list *ngIf="listCollaborators.length>0; else noCollaborators">
    <mat-list-option *ngFor="let item of listCollaborators; let i = index" [selected]="item.assigned"
      (click)="switchAssignment(i)">
      <mat-icon mat-list-icon>face</mat-icon>
      <h3 matLine> {{item.name}} </h3>
      <p matLine>
        <span> {{item.email}} | {{item.created_at | date:'dd MMM'}} </span>
      </p>
    </mat-list-option>

  </mat-selection-list>
  <ng-template #noCollaborators>
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>inbox</mat-icon>
      <p>Nenhum responsável</p>
    </div>
  </ng-template>

</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button [mat-dialog-close]="'update'" cdkFocusInitial>Ok</button>
  <p>Projeto -> Colaboradores</p>
</div>