<div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="8px">

  <mat-list fxFlex="20" role="list">
    <h3 mat-subheader>Projeto</h3>
    <a [routerLink]="['./']" matRipple mat-list-item>
      <mat-icon mat-list-icon>list</mat-icon>
      <h4 mat-line>Detalhes</h4>
    </a>
    <a [routerLink]="['collaborators']" matRipple mat-list-item>
      <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
      <h4 mat-line>Colaboradores</h4>
    </a>
    <!-- <a [routerLink]="['analitycs']" matRipple mat-list-item>
      <mat-icon mat-list-icon>assessment</mat-icon>
      <h4 mat-line>Analytics</h4>
    </a> -->
  </mat-list>
  <div fxFlex="80">
    <router-outlet></router-outlet>
  </div>
</div>