<div fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="space-around space-around">

  <div fxHide.xs>
    <app-timeline *ngIf="currentProject" [slug]="currentProject.slug"></app-timeline>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="8px">
    <mat-card fxFlex="20" fxHide.lt-md>
      <mat-card-header>
        <mat-card-title>{{logs.length}} eventos</mat-card-title>
        <mat-card-subtitle>Últimos 30 dias</mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>

        <div>
          <app-linear-info *ngIf="currentProject" [slug]="currentProject.slug"></app-linear-info>
        </div>

      </mat-card-content>
    </mat-card>
    <div fxFlex="80" fxFlex.lt-md="100">
      <mat-card>
        <mat-card-content>

          <app-inbox-filter-form (outerQuery)="filter($event)"></app-inbox-filter-form>

          <mat-list role="list" *ngIf="logs.length > 0; else noRegisters">
            <h3 mat-subheader>Logs mais recentes</h3>
            <app-inbox-list-item [logs]="logs"></app-inbox-list-item>
          </mat-list>
          <ng-template #noRegisters>
            <div fxLayout="column" fxLayoutAlign="center center" style="padding: 16px; height: 300px; color: white">
              <mat-icon>inbox</mat-icon>
              <h3 class="mat-title">Nenhum registro encontrado!</h3>
            </div>
          </ng-template>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</div>