<div *ngIf="multi; else loading" style="width: 100%; height: 200px;">
  <ngx-charts-line-chart [results]="multi" [yAxis]="true" [xAxis]="true" [autoScale]="true" [yScaleMax]="maxValue"
    [showGridLines]="false">
  </ngx-charts-line-chart>
</div>
<ng-template #loading>
  <div style="height: 200px;" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>