<div *ngIf="graphs;else loading">
  <div style="padding: 20px 0px; height: 20px; width: 100%;" *ngFor="let graph of graphs">
    <p style="margin: 0px 20px">{{graph.name}}</p>
    <ngx-charts-bar-horizontal-stacked [results]="[graph]">
    </ngx-charts-bar-horizontal-stacked>
  </div>
</div>
<ng-template #loading>
  <div style="height: 300px;" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>