<a [ngClass]="{seen: item.seen!=null}" [routerLink]="[item.id]" mat-list-item matRipple *ngFor="let item of logs">

  <h3 matLine [ngClass]="{text_seen: item.seen!=null}"> {{item.title}} </h3>
  <p matLine [ngClass]="{text_seen: item.seen!=null}">
    <span [matTooltip]="item.updated_at">{{item.updated_at | niceDate:item.now}} |</span>
    <span> {{item.stage}} </span>
  </p>

  <div style="width: 100%; padding: 0px 16px" fxLayout="row" fxLayoutAlign="end center">
    <mat-chip-list>
      <mat-chip fxHide.xs>{{item.level}}</mat-chip>
      <mat-chip *ngIf="item.handled"> &nbsp; Handled &nbsp;</mat-chip>
      <mat-chip *ngIf="!item.handled" color="warn" selected>Unhandled</mat-chip>
    </mat-chip-list>
  </div>
  <div fxHide.xs>
    <app-svg-linear [height]="40" [width]="200" [data]="item.log_occurrences"></app-svg-linear>
  </div>
  <div style="padding: 8px; width: 16px">
    <p>{{item.log_occurences_count}}x</p>
  </div>
</a>