<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        Project
      </mat-card-title>
      <mat-card-subtitle>
        Responsáveis
      </mat-card-subtitle>
    </mat-card-title-group>
    <div fxFlex></div>
    <div fxLayoutAlign="center center">
      <button mat-stroked-button (click)="openDialog()">Adicionar</button>
    </div>
  </mat-card-header>
  <mat-list role="list">
    <mat-list-item *ngFor="let item of collaborators">
      <mat-icon mat-list-icon>face</mat-icon>
      <h4 mat-line>{{item.name}}</h4>
      <p mat-line> {{item.email}} </p>
      <button mat-icon-button color="warn" (click)="deleteCollaborator(item.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>