<h3>
  {{project?.title}}
</h3>
<h4>
  {{project?.project_type?.title}}
</h4>



<ol>
  <li>
    <p>Consulte a documentação</p>
    <a target="_blank" href="https://bitbucket.org/wendrpatrck/cpb-logs">https://bitbucket.org/wendrpatrck/cpb-logs</a>
  </li>
  <li>
    <p>
      Sua chave de API:
    </p>
    <code [highlight]="'LOGGER_APIKEY='+project?.api_key"></code>
  </li>
</ol>