<div fxLayout="column" fxLayoutGap="8px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{project?.title}}</mat-card-title>
      <mat-card-subtitle>{{project?.project_type?.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <h4 mat-line>Documentação</h4>
        <p mat-line> <a target="_blank"
            href="https://bitbucket.org/wendrpatrck/cpb-logs">https://bitbucket.org/wendrpatrck/cpb-logs</a> </p>
      </mat-list-item>
      <mat-list-item role="listitem">
        <h4 mat-line>Chave de api</h4>
        <p mat-line> {{'LOGGER_APIKEY='+project?.api_key}} </p>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>