<h1 mat-dialog-title>Novo responsável</h1>
<div mat-dialog-content>
  <form autocomplete="off" [formGroup]="formCollaborator">
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Email</mat-label>
      <input cdkFocusInitial [formControlName]="'email'" matInput placeholder="example@email.com">
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-hint>O usuário será notificado</mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button [disabled]="!formCollaborator.valid" (click)="formSubmit()" mat-button>OK</button>
</div>