<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper fxFlex="80%">

        <mat-step [stepControl]="formTipo">
          <form [formGroup]="formTipo">
            <ng-template matStepLabel>Tipo</ng-template>

            <div fxLayout="column" fxLayoutAlign="center" style="padding: 16px">
              <label>Selecione o tipo de projeto</label>
              <mat-radio-group fxLayout="column" [formControlName]="'type'" style="padding: 8px">
                <mat-radio-button [value]="project.id" *ngFor="let project of projectTypes">
                  {{project.title}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div fxLayout="row" fxLayoutAlign="end end">
              <button [disabled]="!formTipo.valid" mat-stroked-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="formNome">
          <form [formGroup]="formNome" autocomplete="off">
            <ng-template matStepLabel>Criar projeto</ng-template>

            <div fxLayout="column" fxLayoutAlign="center" style="padding: 16px">
              <mat-form-field appearance="outline">
                <mat-label>Nome do projeto</mat-label>
                <input [formControlName]="'name'" matInput placeholder="Meu projeto incrível">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="end end">
              <button mat-button matStepperPrevious>Voltar</button>
              <button [disabled]="!formNome.valid" mat-stroked-button (click)="saveProject(stepper)">Próximo</button>
            </div>

          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Instalar</ng-template>
          <app-project-instructions [project]="createdProject"></app-project-instructions>
          <div fxLayout="row" fxLayoutAlign="end end">
            <a *ngIf="createdProject" mat-stroked-button color="primary"
              [routerLink]="['/home', createdProject.slug, 'inbox']">Concluir</a>
          </div>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </mat-card-content>
</mat-card>