<mat-card>
  <!-- Colecao de botoes de detalhes do log -->
  <div fxLayout="row" fxLayoutAlign="space-around" style="padding-bottom: 16px">

    <button [matBadge]="details.log_assignments_count==0?null:details.log_assignments_count" mat-icon-button
      [matTooltip]="'Atribuicões'" (click)="openCollaborators()">
      <mat-icon>people_outline</mat-icon>
    </button>

    <button mat-icon-button (click)="openDialog()" [matTooltip]="'Adicionar comentário'">
      <mat-icon>all_inbox</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menuWatchLater" [matTooltip]="'Silenciar até...'"
      [ngClass]="{'orange': details.snoozed}">
      <mat-icon>watch_later</mat-icon>
    </button>

    <button mat-icon-button (click)="markAsFixed()"
      [matTooltip]="details.is_fixed != null?'Marcado como corrigido às '+details.is_fixed:'Marcar como corrigido'"
      [ngClass]="{'green': details.is_fixed != null}">
      <mat-icon>check</mat-icon>
    </button>
  </div>

  <!-- Menu de silenciado -->
  <mat-menu #menuWatchLater="matMenu">
    <p class="mat-small" style="margin: 0px; padding: 0px 8px 8px 8px">Silenciar até</p>
    <mat-divider></mat-divider>
    <button mat-menu-item [matMenuTriggerFor]="snoozeWhile">Ocorrer novamente</button>
    <button mat-menu-item [matMenuTriggerFor]="snoozeUntil">Ocorrer depois de</button>
  </mat-menu>

  <mat-menu #snoozeWhile="matMenu">
    <button mat-menu-item (click)="markAsSnoozedWhile(1)">1x</button>
    <button mat-menu-item (click)="markAsSnoozedWhile(10)">10x</button>
    <button mat-menu-item (click)="markAsSnoozedWhile(100)">100x</button>
    <button mat-menu-item (click)="markAsSnoozedWhile(1000)">1000x</button>
  </mat-menu>

  <mat-menu #snoozeUntil="matMenu">
    <button mat-menu-item (click)="markAsSnoozedUntil(1)">um dia</button>
    <button mat-menu-item (click)="markAsSnoozedUntil(7)">uma semana</button>
    <button mat-menu-item (click)="markAsSnoozedUntil(30)">um mês</button>
    <button mat-menu-item (click)="markAsSnoozedUntil(180)">seis meses</button>
  </mat-menu>

  <mat-divider></mat-divider>

  <!-- Espaco para o grafico -->
  <div style="padding-top: 16px">
    <p class="mat-h3">Últimos 7 dias</p>
    <div fxLayoutAlign="center">
      <app-svg-linear [height]="40" [width]="200" [data]="details.log_occurrences"></app-svg-linear>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <p class="mat-small">Visto <b>{{details.created_at | niceDate:details.now}}</b></p>
      <p class="mat-small">Última ocorrência <b>{{details.updated_at | niceDate:details.now}}</b></p>
    </div>
    <ng-template #loading>
      <div style="height: 300px;" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
</mat-card>