<mat-toolbar fxLayout="row" class="mat-elevation-z4" style="z-index: 2;" color="primary">

  <button id="logo" mat-stroked-button [matMenuTriggerFor]="projectMenu"
    [innerText]="project?.title||'Selecione um projeto'">
  </button>

  <div fxLayoutGap="4px" *ngIf="project">
    <!-- <a mat-button [routerLink]="['central']">
      Central
    </a> -->
    <a fxHide.xs mat-button [routerLink]="[project?.slug, 'inbox']">
      Entrada
    </a>
    <a mat-button [routerLink]="[project?.slug, 'details']">
      Projeto
    </a>
  </div>

  <span fxFlex="1 1 auto"></span>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>person</mat-icon>
  </button>

</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item (click)="logoff()">Logout</button>
</mat-menu>

<mat-menu #projectMenu="matMenu">
  <a mat-menu-item *ngFor="let item of list" [innerText]="item.title" [routerLink]="[item.slug, 'inbox']"></a>
  <a mat-menu-item [routerLink]="['create']">
    <mat-icon>add</mat-icon>
    <span>Novo projeto</span>
  </a>
</mat-menu>