<h1 mat-dialog-title>Adicionar comentário</h1>

<div mat-dialog-content>
  <form [formGroup]="formComment" fxLayout="column" autocomplete="off">
    <mat-form-field appearance="outline">
      <mat-label>Descri&ccedil;&atilde;o</mat-label>
      <input cdkFocusInitial [formControlName]="'description'" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>git_project_name</mat-label>
      <input [formControlName]="'git_project_name'" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>git_commit_hash</mat-label>
      <input [formControlName]="'git_commit_hash'" matInput>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button [disabled]="!formComment.valid" (click)="formSubmit()" mat-button [mat-dialog-close]="'update'">Ok</button>
</div>