<mat-list>
  <h3 mat-subheader>Projects</h3>
  <mat-list-item mat-ripple *ngFor="let item of data">
    <mat-icon mat-list-icon>work</mat-icon>
    <h4 mat-line>{{item.title}}</h4>
    <p mat-line>{{item.type}} - Updated at: {{item.last_log | date:'hh:mm dd-MM-yyyy'}}</p>
  </mat-list-item>
</mat-list>