<mat-card>
  <mat-card-header>
    <mat-card-title>Comentários</mat-card-title>
  </mat-card-header>

  <mat-card-content *ngIf="comments.length > 0; else noComments">
    <mat-accordion class="mat-elevation-z0">
      <mat-expansion-panel *ngFor="let item of comments" class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.user}}
          </mat-panel-title>
          <mat-panel-description>
            {{item.created_at | date:'dd MMM'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <p>
            {{item.description}}
          </p>
          <p *ngIf="item.git_project_name">
            git_name: {{item.git_project_name}}
          </p>
          <p *ngIf="item.git_commit_hash">
            commit_hash: {{item.git_commit_hash}}
          </p>

        </div>
      </mat-expansion-panel>

    </mat-accordion>

  </mat-card-content>

  <ng-template #noComments>
    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
      <mat-icon>inbox</mat-icon>
      <p>Nenhum comentário!</p>
    </mat-card-content>
  </ng-template>




</mat-card>